
DesignableButton/DesignableButton.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
DesignableButton/DesignableButton.xcodeproj/project.xcworkspace/xcuserdata/fraser.xcuserdatad/UserInterfaceState.xcuserstate
DesignableButton/DesignableButton.xcodeproj/xcshareddata/xcschemes/DesignableButton.xcscheme
